* {
  font-family: monaco, monospace;
  margin: 0;
  padding: 0;
}

body {
  background: #3b3b3b;
  color: #e8e8d3;
  margin: 0 auto;
  padding: 1em;
  width: 80ch;
  -webkit-text-size-adjust: none;
}

@media only screen and (max-device-width: 480px) {
  body {
    width: auto;
  }
}

header {
  display: block;
  overflow: hidden;
}

header pre {
  display: inline-block;
}

header .title {
  display: inline-block;
  white-space: pre-wrap;
}

header .extra {
  float: right;
  white-space: pre-wrap;
}

header h1 {
  display: none;
}

header h2 {
  display: inline-block;
  font-size: 1em;
}

@media only screen and (max-device-width: 480px) {
  header .seperator {
    display: none;
  }
  header .title {
    display: block;
  }
  header .extra {
    float: none;
  }
}

a {
  color: #7697d6;
}

p {
  margin-bottom: 1em;
}

footer {
  overflow: hidden;
}

footer p {
  white-space: pre-wrap;
  float: left;
}

footer p + p {
  float: right;
}

@media only screen and (max-device-width: 480px) {
  footer p,
  footer p + p {
    float: none;
  }
}

em {
  color: #71b9f8;
  font-style: normal;
}

code {
  color: #cf6a4c;
  font-style: italic;
}

code.code-block {
  color: #adadad;
  display: block;
  font-style: normal;
  margin-bottom: 1em;
  white-space: pre-wrap;
  text-indent: -2ch;
  margin-left: 6ch;
}

@media only screen and (max-device-width: 480px) {
  code.code-block {
    margin-left: 2ch;
  }
}

ol {
  list-style: none;
  margin-bottom: 1em;
}

ol li {
  counter-increment: step-counter;
  text-indent: -4ch;
  margin-left: 4ch;
}

li::before {
  color: #d8ad4c;
  content: "0" counter(step-counter) ": ";
}

hr {
  border: none;
  color: #888;
  margin-bottom: 1em;
  white-space: nowrap;
  overflow: hidden;
}

hr:after {
  content: '# ------------------------------------------------------------------------------';
}

.code-string {
  color: #99ad6a;
}

.code-comment {
  color: #888;
}
